# 输出文件
infantry/
# keil debug配置文件
DebugConfig/

RTE/

.cmsis/

* MDK-ARM.code-workspace
*.eide.usr.ctx.json
*.clang-format

*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.dbg*


*.axf
*.exf
*.elf
*.hex

#keil 工程配置文件
*.uvoptx
*.uvguix.*
*.mxproject









